Node-RED/MQTT_Test.json
[{"id":"a377bd15.57ddd","type":"tab","label":"MQTT_test","disabled":false,"info":""},{"id":"f178ae87.b0027","type":"mqtt in","z":"a377bd15.57ddd","name":"","topic":"noderedmsg","qos":"2","datatype":"auto","broker":"f6c3953a.fb1b08","x":110,"y":140,"wires":[["fcbb2418.a5a3b8"]]},{"id":"533e9203.1012bc","type":"mqtt out","z":"a377bd15.57ddd","name":"","topic":"noderedmsg","qos":"2","retain":"","broker":"f6c3953a.fb1b08","x":350,"y":60,"wires":[]},{"id":"816ac646.d7ed18","type":"inject","z":"a377bd15.57ddd","name":"","topic":"","payload":"Hello world Node-RED","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["533e9203.1012bc"]]},{"id":"fcbb2418.a5a3b8","type":"debug","z":"a377bd15.57ddd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":140,"wires":[]},{"id":"f6c3953a.fb1b08","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]